<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" required />
      <div
        *ngIf="
          logInForm.get('email')?.invalid && logInForm.get('email')?.touched
        "
        class="error"
      >
        <small *ngIf="logInForm.get('email')?.errors?.['required']"
          >Email is required</small
        >
        <small *ngIf="logInForm.get('email')?.errors?.['email']"
          >Enter a valid email</small
        >
      </div>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        required
        minlength="6"
      />
      <div
        *ngIf="
          logInForm.get('password')?.invalid &&
          logInForm.get('password')?.touched
        "
        class="error"
      >
        <small *ngIf="logInForm.get('password')?.errors?.['required']"
          >Password is required</small
        >
        <small *ngIf="logInForm.get('password')?.errors?.['minlength']">
          Password must be at least 6 characters
        </small>
      </div>
    </div>
    <button type="submit" [disabled]="logInForm.invalid">Login</button>
  </form>
</div>
