<!-- simplified-patients-listing.component.html -->
<div class="patients-container">
  <h1>Patient Directory</h1>
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search patients by name or email"
      [(ngModel)]="searchTerm"
    />
    <button class="search-button">
      <span class="material-icons">search</span>
    </button>
  </div>

  <div class="patients-grid">
    <div
      class="patient-card"
      [ngClass]="{ inactive: !getPatientsStatus(patient.id) }"
      *ngFor="let patient of filteredPatients()"
    >
      <div class="patient-header">
        <div class="avatar-placeholder">
          <span
            >{{ patient.name.split(" ")[0][0]
            }}{{
              patient.name.split(" ")[1] ? patient.name.split(" ")[1][0] : ""
            }}</span
          >
        </div>
        <div class="patient-basic-info">
          <h2
            [routerLink]="['/admin/viewProfile', patient.id]"
            style="cursor: pointer"
          >
            {{ patient.name }}
          </h2>
          <p class="patient-email">{{ patient.email }}</p>
        </div>
      </div>

      <div class="patient-actions">
        <button
          class="btn status-btn"
          [ngClass]="{
            'active-btn': patient.isActive,
            'inactive-btn': !patient.isActive
          }"
          (click)="activePatient(patient.id)"
        >
          <span class="material-icons">{{
            patient.isActive ? "check_circle" : "cancel"
          }}</span>
          {{ patient.isActive ? "Active" : "Inactive" }}
        </button>

        <button
          class="btn status-btn"
          (click)="getAppointmentOfPatients(patient.id)"
        >
          Appointments
        </button>
      </div>
    </div>
  </div>
</div>
