<div class="app-container">
  <!-- Navigation Bar -->
  <div class="nav-bar">
    <a href="#" class="nav-brand"> <i class="icon">🏥</i> MediCare </a>
    <div class="nav-links">
      <a routerLink="home" class="nav-link active">Home</a>
      <a routerLink="register" class="nav-link">Register</a>
      <a routerLink="login" class="nav-link">Log In</a>

      <button (click)="logOut()">Log Out</button>
    </div>
  </div>

  <!-- Side Bar -->
  <div class="side-bar">
    <ul>
      <li>
        <a
          (click)="togglePatientsMenu()"
          [class.expanded]="showPatientsSubMenu"
          routerLink="/patients"
          >Patients</a
        >
        <ul [class.visible]="showPatientsSubMenu" class="sub-menu">
          <li><a routerLink="addBookAppointment">Book Appointment</a></li>
          <li><a routerLink="bookAppointment">My Appointment List</a></li>
          <li><a routerLink="patient-profile">My Profile</a></li>
        </ul>
      </li>
      <li>
        <a
          (click)="toggleDoctorsMenu()"
          [class.expanded]="showDoctorsSubMenu"
          routerLink="/doctors"
          >Doctors</a
        >
        <ul [class.visible]="showDoctorsSubMenu" class="sub-menu">
          <li><a routerLink="/doctor-login">Login as Doctor</a></li>
          <li><a routerLink="/manageAppointment">Manage Appointments</a></li>
        </ul>
      </li>
      <li>
        <a
          (click)="toggleDoctorsMenu()"
          [class.expanded]="showDoctorsSubMenu"
          routerLink="/admin"
          >Admin</a
        >
        <ul [class.visible]="showDoctorsSubMenu" class="sub-menu">
          <li><a routerLink="/allDoctors">Manage Doctors</a></li>
          <li><a routerLink="/allPatients">Manage Patients</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
